server:
  port: 8010

spring:
  profiles:
    active: local

  application:
    name: Intelligent_Data_Analysis_System

  datasource:
    # MySQL
    healthcare_mysql:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: ${HEALTH_CARE_MYSQL}
      username: ${USERNAME_MYSQL}
      password: ${PWD_MYSQL}

    finance_mysql:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: ${FINANCE_MYSQL}
      username: ${USERNAME_MYSQL}
      password: ${PWD_MYSQL}

    # PostgreSQL
    healthcare_pgsql:
      driver-class-name: org.postgresql.Driver
      url: ${HEALTH_CARE_PGSQL}
      username: ${USERNAME_PGSQL}
      password: ${PWD_PGSQL}

    finance_pgsql:
      driver-class-name: org.postgresql.Driver
      url: ${FINANCE_PGSQL}
      username: ${USERNAME_PGSQL}
      password: ${PWD_PGSQL}

    # MongoDB
    healthcare_mongoDB:
      driver-class-name: mongoDB
      url: ${HEALTH_CARE_MONGODB}
      username: ${USERNAME_MONGODB}
      password: ${PWD_MONGODB}

    finance_mongoDB:
      driver-class-name: mongoDB
      url: ${FINANCE_MONGODB}
      username: ${USERNAME_MONGODB}
      password: ${PWD_MONGODB}

mybatis-plus:
  type-aliases-package: com.intelligent_data_analysis_system.domain
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

logging:
  level:
    com.intelligent_data_analysis_system: info

# =============================
# 关键：先选底层数据库类型，再按业务域路由
# =============================
app:
  routing:
    # mysql / pg / mongodb
    dbms: mysql

    domains:
      finance: finance
      healthcare: healthcare
  ai:
    # jiutian/qwen
    mode: qwen
  query:
    max-rows: 200

  jiutian:
    base-url: ${JIUTIAN_API_URL}
    api-key: ${JIUTIAN_API_KEY}
    model: ${JIUTIAN_MODEL_NAME}

  qwen:
    base-url: ${QWEN_API_URL}
    api-key: ${QWEN_API_KEY}
    model: ${QWEN_MODEL_NAME}

  batch:
    enabled: false